.slideParallax .swiper-slide {
  font-size: 18px;
  color: #fafafa;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2rem;
  backdrop-filter: brightness(0.5);
  height: auto;
  @media (min-width: 900px) {
    display: flex;
    align-items: center;
  }
}

.slideParallax .swiper-pagination-bullet {
  width: 40px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fafafa;
  opacity: 1;
  @media (min-width: 900px) {
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
  }
}



.slideParallax .step-number {
  content: attr(data-step);
  font-size: 18px;
  font-weight: bold;
  color: #eeeee;
  margin-bottom: 8px;
}
